<div id="datosPedidoUsuario">
    <h3>Parece que todo ha ido bien, esto es lo que vas a comprar:</h3>
    <p class="TituloPedido">Concepto:</p>
    <p class="DatosPedidoConfirmacion">{{datosConfirmacion.concepto}}</p>
    <p class="TituloPedido">Importe:</p>
    <p class="DatosPedidoConfirmacion">{{datosConfirmacion.importe}}</p>
</div>
<div id="buyEmphasisCover">
    <div id="buyEmphasisButtonCore">
        <a id="EmphasisCore" class="btn btn-info" ng-click="onClickButtonConfirmPayment()" ng-click="$scope.myStyle={'background-image':'images/imagesSuccessfullPayment/fondo.jpg'}">Confirmar pedido</a>
    </div>
</div>
<div id="Imagenes">
    
</div>
