<table class="table table-striped" >
    <tr><td></td><td>Cuenta Bancaria</td><td>Tipo Movimiento</td><td>Importe</td><td>Fecha</td><td>Saldo Total</td><td>Concepto</td><td>Opciones</td></tr>
    <tr ng-repeat="lista in datos" ng-form="formMovimientoBancario">
        <td></td>
        <td>
            <select name="cuentaPertenece" required type="number" ng-model="lista.cuentaPertenece" ng-class="{'field-error':formMovimientoBancario.cuentaPertenece.$invalid}">
                <option value=""> -- Elige opcion --
                <option ng-repeat="cuentas in datos2" ng-value="{{cuentas.id}}" ng-selected="{{lista.cuentaPertenece == cuentas.id}}">{{cuentas.numCuenta}}
            </select>
        </td>
        <td>
            <select name="tipoMovimiento" required ng-model="lista.tipoMovimiento" ng-options="tipoMovimiento.idTipo as tipoMovimiento.descripcion for tipoMovimiento in tipoMovimientos" ng-class="{'field-error':formMovimientoBancario.tipoMovimiento.$invalid}">         
                <option value=""> -- Elige opcion --
            </select>
        </td>
        <td><input name="importe" required type="number" min="0" ng-model="lista.importe" style="width: 60%" ng-class="{'field-error':formMovimientoBancario.importe.$invalid}"></input></td>
        <td><input name="fecha" required type="text" ng-model="lista.fecha" style="width: 80%" ui-date ng-class="{'field-error':formMovimientoBancario.fecha.$invalid}"></input></td>
        <td>{{lista.saldoTotal}}</td>
        <td><input name="concepto" type="text" ng-model="lista.concepto" style="width: 100%" ng-class="{'field-error':formMovimientoBancario.concepto.$invalid}"></input></td>
        <td>                  
            <a ng-click="onClickButtonDelete(lista.id)" style="width:100%" class="btn btn-danger" role="button">Borrar</a>
            <a ng-disabled="formMovimientoBancario.$invalid" ng-click="onClickButtonUpdate(lista)" style="width:100%" class="btn btn-info" role="button">Actualizar</a>                   
        </td>
    </tr>
    <tr ng-form="formMovimientoBancario">
        <td></td>
        <td>
            <select name="cuentaPertenece" required type="number" ng-model="listaInsertar.cuentaPertenece" ng-class="{'field-error':formMovimientoBancario.cuentaPertenece.$invalid}">
                <option value=""> -- Elige opcion --
                <option ng-repeat="cuentas in datos2" ng-value="{{cuentas.id}}">{{cuentas.numCuenta}}
            </select>
        </td>
        <td>
            <select name="tipoMovimiento" required ng-model="listaInsertar.tipoMovimiento" ng-options="tipoMovimiento.idTipo as tipoMovimiento.descripcion for tipoMovimiento in tipoMovimientos" ng-class="{'field-error':formMovimientoBancario.tipoMovimiento.$invalid}">         
                <option value=""> -- Elige opcion --
            </select>      
        </td>
        <td><input name="importe" required type="number" min="0" ng-model="listaInsertar.importe" style="width: 60%" ng-class="{'field-error':formMovimientoBancario.importe.$invalid}"></input></td>
        <td><input name="fecha" required ng-model="listaInsertar.fecha" style="width: 80%" ui-date ng-class="{'field-error':formMovimientoBancario.fecha.$invalid}"></input></td>
        <td>{{listaInsertar.saldoTotal}}</td>
        <td><input name="concepto" type="text" ng-model="listaInsertar.concepto" style="width: 100%" ng-class="{'field-error':formMovimientoBancario.concepto.$invalid}"></input></td>
        <td>                  
            <a ng-disabled="formMovimientoBancario.$invalid" ng-click="onClickButtonInsert(listaInsertar)" style="width:100%" class="btn btn-success" role="button">Insertar</a>                  
        </td>
    </tr>
</table>