<h3>Entidad</h3>
<table class="table table-striped" >
<tr><td>ID</td><td>Código Entidad</td><td>Nombre Entidad</td><td>CIF</td><td>Tipo de entidad</td></tr>
    <tr >
        <td>{{datos.id}}</td>
        <td><input required type="number" ng-model="datos.codigoEntidad" style="width: 70%"></input></td>
        <td><input required type="text" ng-model="datos.nombreEntidad" style="width: 70%"></input></td>
        <td><input required type="text" ng-model="datos.cif" style="width: 70%"></input></td>
        <td><input required type="text" ng-model="datos.tipoEntidad" style="width: 70%"></input></td>
    </tr>
</table>
<br/>
<br/>
<h4>Sucursales</h4>
<br/>
<br/>
<table class="table table-striped" >
    <tr><td>ID</td><td>Entidad Pertenece</td><td>Código Sucursal</td><td>Nombre Sucursal</td><td>Opciones</td></tr>
    <tr ng-repeat="lista2 in sucursales">
        <td>{{lista2.id}}</td>
        <td><input required type="number" ng-model="lista2.entidadPertenece"></input></td>
        <td><input required type="text" ng-model="lista2.codigoSucursal"></input></td>
        <td><input required type="text" ng-model="lista2.nombreSucursal"></input></td>
        <td>                  
            <a ng-click="onClickButtonDelete(lista2.id)"  class="btn btn-danger" role="button">Borrar</a>
            <a ng-click="onClickButtonUpdate(lista2)" class="btn btn-info" role="button">Actualizar</a>                   
        </td>
    </tr>
    <tr>
        <td><input required type="number" ng-model="listaInsertar.id"></input></td>
        <td><input required type="number" ng-model="listaInsertar.entidadPertenece"></input></td>
        <td><input required type="text" ng-model="listaInsertar.codigoSucursal"></input></td>
        <td><input required type="text" ng-model="listaInsertar.nombreSucursal"></input></td>
        <td>                  
            <a ng-click="onClickButtonInsert(listaInsertar)"  class="btn btn-success" role="button">Insertar</a>                  
        </td>
    </tr>
</table>
    