<table class="table table-striped">
    <tr><td>ID</td><td>Código Entidad</td><td>Nombre Entidad</td><td>CIF</td><td>Tipo de entidad</td><td>Opciones</td></tr>
    <tr ng-repeat="lista in datos" ng-form="formEntidadBancaria">
        <td>{{lista.id}} <a href="#/entidadbancaria/list/sucursales/{{lista.id}}">Sucursales</a></td>
        <td><input name="codigoEntidad" required type="number" min="1" ng-model="lista.codigoEntidad" style="width: 70%" ng-class="{'field-error':formEntidadBancaria.codigoEntidad.$invalid}"></input></td>
        <td><input name="nombreEntidad" required type="text" ng-model="lista.nombreEntidad" style="width: 70%" ng-class="{'field-error':formEntidadBancaria.nombreEntidad.$invalid}"></input></td>
        <td><input name="cif" required type="text" ng-model="lista.cif" style="width: 70%" ng-class="{'field-error':formEntidadBancaria.cif.$invalid}"></input></td>
        <td><select name="tipoEntidad" required ng-model="lista.tipoEntidad" ng-options="tipo.idTipo as tipo.descripcion for tipo in tipos" ng-class="{'field-error':formEntidadBancaria.tipoEntidad.$invalid}">         
            </select>
        </td>
        <td>                  
            <a ng-click="onClickButtonDelete(lista.id)" style="width:100%" class="btn btn-danger" role="button">Borrar</a>
            <a ng-disabled="formEntidadBancaria.$invalid" ng-click="onClickButtonUpdate(lista)" style="width:100%" class="btn btn-info" role="button">Actualizar</a>                   
        </td>
    </tr>

    <tr ng-form="formEntidadBancaria">
        <td></td>
        <td><input name="codigoEntidad" required type="number" min="1" ng-model="listaInsertar.codigoEntidad" style="width: 70%" ng-class="{'field-error':formEntidadBancaria.codigoEntidad.$invalid}"></input></td>
        <td><input name="nombreEntidad" required type="text" ng-model="listaInsertar.nombreEntidad" style="width: 70%" ng-class="{'field-error':formEntidadBancaria.nombreEntidad.$invalid}"></input></td>
        <td><input name="cif" required type="text" ng-model="listaInsertar.cif" style="width: 70%" ng-class="{'field-error':formEntidadBancaria.cif.$invalid}"></input></td>
        <td>
            <select name="tipoEntidad" required ng-model="listaInsertar.tipoEntidad" ng-options="tipo.idTipo as tipo.descripcion for tipo in tipos" ng-class="{'field-error':formEntidadBancaria.tipoEntidad.$invalid}">         
                <option value="">-- Elige opcion --</option>
            </select></td>
        <td>                  
            <a ng-disabled="formEntidadBancaria.$invalid" ng-click="onClickButtonInsert(listaInsertar)" style="width:100%" class="btn btn-success" role="button">Insertar</a>                  
        </td>
    </tr>
</table>